<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.uborow.uBorowsam"
		versionCode="8"
		version   = "1.0.7">
		<name>uBorow</name>
		<description>
uBorow		</description>
		<author href="uborow.com" email="oliver@uborow.com">
Engr. Oliver M. Gonzales
		</author>
		

		<preference name="phonegap-version" value="3.7.0" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x233386"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="true"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
		
		<preference name="permissions" value="none"/>
		
		
		
		<!--<preference name="android-minSdkVersion"      value="7" />  
    	<preference name="android-installLocation"    value="auto" />  -->
	
	
	
		
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="windows" />	
		<gap:platform name="winphone" />	
		<!--<feature name="http://api.phonegap.com/1.0/notification"/>
		<feature name="http://api.phonegap.com/1.0/geolocation" />-->
		
	
	
	
		<!--
		<gap:plugin name="org.apache.cordova.batterystatus.BatteryListener"  />
		<gap:plugin name="org.apache.cordova.camera.CameraLauncher"  />
		<gap:plugin name="org.apache.cordova.console"  />
		<gap:plugin name="org.apache.cordova.contacts.ContactManager"  />
		<gap:plugin name="org.apache.cordova.device.Device"  />
		<gap:plugin name="org.apache.cordova.device-orientation"  />
		<gap:plugin name="org.apache.cordova.devicemotion.AccelListener"  />
		<gap:plugin name="org.apache.cordova.dialogs.Notification"  />
		<gap:plugin name="org.apache.cordova.file.FileUtils"  />
		<gap:plugin name="org.apache.cordova.filetransfer.FileTransfer"  />
		<gap:plugin name="org.apache.cordova.GeoBroker"  />
		<gap:plugin name="org.apache.cordova.globalization.Globalization"  />-->
		<!--<gap:plugin name="org.apache.cordova.inappbrowser.InAppBrowser"  />
		<gap:plugin name="org.apache.cordova.media.AudioHandler"  />
		<gap:plugin name="org.apache.cordova.mediacapture.Capture"  />
		<gap:plugin name="org.apache.cordova.networkinformation.NetworkManager"  />
		<gap:plugin name="org.apache.cordova.splashscreen.SplashScreen"  />
		<gap:plugin name="org.apache.cordova.vibration.Vibration"  />-->
		<icon src="icon/36.png" gap:platform="android" gap:density="ldpi" />
		<icon src="icon/48.png" gap:platform="android" gap:density="mdpi" />
		<icon src="icon/72.png" gap:platform="android" gap:density="hdpi" />
		<icon src="icon/96.png" gap:platform="android" gap:density="xhdpi" />
		<icon src="icon/144.png" gap:platform="android" gap:density="xxhdpi" />
		<icon src="icon/192.png" gap:platform="android" gap:density="xxxhdpi" />
		
		<icon src="icon/57.png"  gap:platform="ios" width="57" height="57" />
		<icon src="icon/72.png"  gap:platform="ios" width="72" height="72" />
		<icon src="icon/114.png"  gap:platform="ios" width="114" height="114" />
		<icon src="icon/144.png"  gap:platform="ios" width="144" height="144" />
	
	
		<gap:splash src="splash/240.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="splash/320.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="splash/480.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="splash/720.png" gap:platform="android" gap:density="xhdpi" />
		<gap:splash src="splash/1080.png" gap:platform="android" gap:density="xxhdpi" />
		
		
		<!-- iPhone and iPod touch -->
		<gap:splash src="splash/320.png" gap:platform="ios" width="320" height="480" />
		<gap:splash src="splash/640.png" gap:platform="ios" width="640" height="960" />

		<!-- iPhone 5 / iPod Touch (5th Generation) -->
		<gap:splash src="splash/640c.png" gap:platform="ios" width="640" height="1136" />







		<feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	

	<gap:plugin name="com.pushapps.phonegap" version="1.6.0" />
	
	
	
	<gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" /><!-- version="0.2.9" />-->
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" /><!-- version="0.2.10" /> -->
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation"  version="0.3.7" />
    <gap:plugin name="org.apache.cordova.globalization" />
   <!-- <gap:plugin name="org.apache.cordova.inappbrowser"> /-->
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
	
	
	
<!--    <gap:plugin name="org.apache.cordova.file" version="0.2.4" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.2.3" />-->
	

<gap:config-file platform="ios" parent="requestAlwaysAuthorization" overwrite="false">
        <string></string>
</gap:config-file>


<gap:config-file platform="ios" parent="requestWhenInUseAuthorization" overwrite="false">
        <string></string>
</gap:config-file>


<gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="false">
        <string></string>
</gap:config-file>


<gap:config-file platform="ios" parent="NSLocationWhenInUseUsageDescription" overwrite="false">
        <string></string>
</gap:config-file>



<feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
	</feature>

<feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser" />
</feature>


<gap:plugin name="nl.x-services.plugins.launchmyapp">
    <param name="URL_SCHEME" value="uborowapp" />
</gap:plugin>

<access origin="http://uborow.net/api/" />
<access origin="*" />
<gap:plugin name="org.apache.cordova.inappbrowser" />
<gap:plugin name="org.apache.cordova.geolocation" />

	</widget>